.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Default: #FF782D;
  --Hover: #FFAB2D;
  --Pressed: #F8620E;
  --Black: #000000;
  --White: #FFFFFF;
  --DarkGray: #555555;
  --Gray: #9D9D9D;
  --LightGray: #EAEAEA;
  --WhiteGray: #F5F5F5;
  --Info: #2580D5;
  --Success: #55BE24;
  --Warning: #EAEAEA;
  --Danger: #F51A1A
}

@font-face {
  font-family: 'exo-medium';
  src: url(./fonts/Exo-Medium.ttf);
}
@font-face {
  font-family: 'exo-regular';
  src: url(./fonts/Exo-Regular.ttf);
}
@font-face {
  font-family: 'exo-semiBold';
  src: url(./fonts/Exo-SemiBold.ttf);
}