.contacts {
    width: 100%;
    height: auto;
    margin: 100px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactsContainer {
    width: 40%;
    height: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Info);
    border-radius: 10px;
    box-shadow: inset 0 0 15px var(--Info);
    .containerGuide {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        line-height: 6px;
        padding-left: 10px;
        margin-top: 5px;
        h2 {
            font-size: 40px;
            letter-spacing: 3px;
            font-family: 'exo-regular';
        }
        p {
            font-family: 'exo-semiBold';
            letter-spacing: 2px;
            color: var(--DarkGray);
        }
    }
    .containerContacts {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 10px;
        .containerContactsContact {
            width: 100%;
            height: auto;
            display: flex;
            padding-left: 10px;
            gap: 10px;
            .containerIcon {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid var(--DarkGray);
                border-radius: 50%;
            }
            .containerIcon:hover {
                border: 2px solid var(--Hover);
            }
            span {
                font-family: 'exo-medium';
                color: var(--Gray);
            }
            span:hover {
                color: var(--Hover);
            }
            a {
                width: 80%;
                text-decoration: none;
            }
        }
        .containerContactsContact:hover {
            color: var(--Hover);
        }
    }
}

.contactsButton {
    width: 100%;
    height: 270px;
    display: flex;
    align-items: end;
    justify-content: center;
    button {
        width: 150px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-family: 'exo-semiBold';
        box-shadow: inset 0 0 10px var(--Info);
    }
    button:hover {
        box-shadow: inset 0 0 10px var(--Hover);
        color: var(--Pressed);
    }
    button:focus {
        box-shadow: inset 0 0 10px var(--Success);
        color: var(--Success);
    }
}

@media screen and (max-width: 1120px) {
    .contactsContainer {
        .containerGuide {
            h2 {
                font-size: 40px;
                letter-spacing: 3px;
                font-family: 'exo-regular';
                line-height: 1.5;
            }
        }
    }
    .contactsButton {
    height: 150px;
    }
}

@media screen and (max-width: 990px) {
    .contactsContainer {
        width: 60%;
        .containerGuide {
            h2 {
                font-size: 40px;
                letter-spacing: 3px;
                font-family: 'exo-regular';
                line-height: 1.5;
            }
        }
    }
    .contactsButton {
        height: 200px;
    }
}

@media screen and (max-width: 630px) {
    .contactsContainer {
        width: 80%;
    }
}

@media screen and (max-width: 370px) {
    .contactsContainer {
        width: 90%;
    }
}